.container {
    height: 100%;
}

.row {
    align-items: center;
}

.box {
    font-size: 65%;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid white;
    background-color: #006cfa;
}

.nest-box {
    padding: 10px 0;
    text-align: center;
    border: 1px solid #006cfa;
    background-color: #2fff6d;
}